@keyframes confirmBtn {
	from {
		right: -100px;
	}
	to {
		right: 0;
	}
}

.TimeBtns {
	display: flex;
	margin : .7rem 0;
}

.TimeBtn{
	transition : width .2s cubic-bezier(0.46, 0.52, 0.66, 0.68);
	&:active{
		width : 49%;
	}
}
.ConfirmBtn {
	margin-left: 0.5rem;
	text-transform: capitalize;
	animation-name: confirmBtn;
	animation-duration: 0.2s;
	animation-timing-function: cubic-bezier(0.46, 0.52, 0.66, 0.68);
}
