.TimeZoneWrapper {
	height: 20rem;
	flex-wrap: nowrap;
	padding: 0 0.7rem;
}

.Text {
	color: #4d5055;
	font-size: 15px;
	text-align: center;
	color: #026764;
	margin-top: 1rem;
}


.loading{
	display:  flex;
	justify-content: center;
}
