.LeftSide {
	border-right: 1px solid #3333;
	background-color: #fbfcfd;
	height: 100%;
	position: relative;

	h2 {
		color: #4d5055;
		margin: 0 0 2rem 1rem;
		font-weight: bolder;
	}
}
.Text {
	color: #4d5055;
	margin: 0 0 2rem 1rem;
	font-weight: bolder;
	margin-left: 1rem;
	color: grey;
}
.ArrowBack {
	margin: 0 0 2rem 1rem;
}

.LeftSideHeaderText {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #3333;
	margin-top: 0.5rem;
	padding: 1rem;
}
