.ColumnWrapper {
	border: 1px solid #3333;
	margin: 5rem auto;
	border-radius: 10px;
	width: 65%;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffff;
	min-width: 23rem;
}
.RightSide {
	margin: auto auto;
	width: 50%;
	padding: 0 2rem;
}
.Confirm {
	border: 1px solid #3333;
	width: 65%;
	background-color: #ffff;
	margin: 6rem auto;
	border-radius: 5px;
	min-width: 15rem;
}
