.Toolbar {
	display: flex;
	justify-content: space-between;
}

.Logo {
	border: 2px solid #eaeaea;
	color: #eaeaea;
	padding: 0.2rem 1rem;
	border-radius: 2px;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: bolder;
  transition : all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		color: #ffffff;
    border: 2px solid #ffff;
    background-color: rgb(59, 75, 149);
	}
}

.SignBtn{
  text-align: center;
  color : rgba(0, 0, 0, 0.87);
  border : 1px solid rgba(0, 0, 0, 0.23);
  background : #eaeaea;
  transition : all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover{
    background : #dbdbdb;
  }
}
.SignIcon{
  margin-left : 3px
}

.Sign {

}
